/* [project]/src/app/globals.css [app-client] (css) */
.relative {
  position: relative;
}

.z-0 {
  z-index: 0;
}

.flex {
  display: flex;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.transition {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, visibility, content-visibility, overlay, pointer-events;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

body {
  text-align: center;
  background-color: #f0f0f0;
  width: 100vw;
  max-height: 80vh;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  overflow: hidden;
}

.header-container {
  z-index: 10;
  text-align: left;
  position: absolute;
  top: 2em;
  left: 2em;
}

#title {
  letter-spacing: -1.5px;
  cursor: pointer;
  margin-bottom: 1em;
  font-family: Baskerville, serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
}

#title strong {
  font-weight: 700;
}

.subtitle {
  color: #555;
  font-family: Inter, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  margin-bottom: .5em;
}

.menu a {
  color: #374151;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

.modal-overlay {
  z-index: 1000;
  background: #0009;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  inset: 0;
}

.modal-content {
  text-align: left;
  color: #374151;
  background: #fff;
  border-radius: 8px;
  width: 90%;
  max-width: 750px;
  padding: 3em;
  font-family: Inter, sans-serif;
  position: relative;
}

.close-button {
  cursor: pointer;
  color: #888;
  background: none;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 15px;
}

#thematics-container {
  width: 100vw;
  height: 100vh;
}

.thematic {
  color: #374151;
  cursor: grab;
  text-align: left;
  background-color: #f0f0f0;
  border-radius: 20px;
  flex-direction: column;
  align-items: flex-start;
  width: 14em;
  padding: 30px;
  font-family: Inter, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.2em;
  transition: all .5s cubic-bezier(.25, .8, .25, 1);
  display: flex;
  position: absolute;
  top: calc(50vh - 100px);
  left: calc(50vw - 100px);
}

.thematic strong {
  margin-bottom: .25em;
  display: block;
}

.thematic-subtitle {
  color: #888;
  margin-bottom: 0;
  font-size: .9em;
  display: block;
}

.thematic-description {
  font-size: 1em;
}

.thematic:active {
  cursor: grabbing;
}

.activated {
  -webkit-backdrop-filter: blur(2px);
  transition: all .2s;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 5px #0000001a, inset 0 0 #0000, -2px -2px 5px #ffffffe6, inset 0 0 #fff0;
  -moz-box-shadow: 4px 4px 5px #0000001a, inset 0 0 #0000, -2px -2px 5px #ffffffe6, inset 0 0 #fff0;
  box-shadow: 4px 4px 5px #0000001a, inset 0 0 #0000, -2px -2px 5px #ffffffe6, inset 0 0 #fff0;
}

.activated:hover {
  -webkit-box-shadow: 15px 15px 5px #0000001a, inset 0 0 #0000, -4px -4px 10px #ffffffe6, inset 0 0 #fff0;
  -moz-box-shadow: 15px 15px 5px #0000001a, inset 0 0 #0000, -4px -4px 10px #ffffffe6, inset 0 0 #fff0;
  box-shadow: 15px 15px 5px #0000001a, inset 0 0 #0000, -4px -4px 10px #ffffffe6, inset 0 0 #fff0;
}

/*# sourceMappingURL=src_app_globals_css_f9ee138c._.single.css.map*/